@import url('https://fonts.googleapis.com/css?family=Tangerine');
body{
    background-color: rgb(53, 53,53);
    color: whitesmoke;
    text-align: center;
}
img{
    width: 540px;
}
header{
    font-family: Tangerine, serif;
    font-size: 72px;
}